extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Lista de compositores
        a.w3-btn.w3-round.w3-grey(href="/compositores/registo") +
        a.w3-btn.w3-round.w3-khaki(href="/") Início

    .w3-container
      table.w3-table-all
        tr
          th ID
          th Nome
          th Periodo
          th Actions

        each compositor in lCompositores
          tr
            td= compositor.id
            td
              a(href="/compositores/" + compositor.id)= compositor.nome
            td
              a(href="/compositores/" + compositor.periodo)= compositor.periodo
            td
              span [
              a(href="/compositores/edit/" + compositor.id) Editar
              span ]
              span [
              a(href="/compositores/delete/" + compositor.id) Apagar
              span ]    

  .footer.w3-container.w3-blue
    h5 Gerado por EngWeb2024 in #{date}
