extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Lista de períodos
        a.w3-btn.w3-round.w3-grey(href="/periodos/registo") +
        a.w3-btn.w3-round.w3-khaki(href="/") Início
    .w3-container
      table.w3-table-all
        tr 
          th ID
          th Nome
          th Actions
        each periodo in lPeriodos
          tr 
            td= periodo.id
            td 
              a(href="/periodos/" + periodo.id)= periodo.nome
            td 
              span [
              a(href="/periodos/edit/" + periodo.id) Editar
              span ]
              span [
              a(href="/periodos/delete/" + periodo.id) Apagar
              span ]    
    footer.w3-container.w3-blue
      h5 Gerado por EngWeb2024 in #{date}